/*
 * Tailwind source stylesheet. This file belongs to your application.
 * Modify it freely and commit it to version control.
 * Flask-Tailwind-Manager will not overwrite it.
 */
@import {{ css_import | safe }}{% if source %} source({{ source | safe }}){% endif %};
